@import '../../utils/style/variable';
@import '../../utils/style/mixin';

.about {
  width: 375px;
  margin: 27px auto 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet-only {
    width: 100%;
    margin: 44px auto;
  }
  &_banner {
    width: 335px;
    height: 223px;
    margin: 0px auto 20px;
    background: url('../../assets/coverbannermobile.png');
    background-size: cover;
    border-radius: 10px;
    @include tablet-only {
      background: url('../../assets/AboutCover.png');
      width: 85%;
      margin: 0 auto 31px;
    }
  }
}

.collapse_about {
  height: 47px;
}
