@import '../../utils/style/variable';
@import '../../utils/style/mixin';

.logement_host_stars {
  display: flex;
  height: 33px;
  align-items: center;
  gap: 5px;
  &_red {
    height: 15px;
    width: 15px;
    @include tablet-only {
      height: 30px;
      width: 30px;
    }
  }
  &_grey {
    height: 15px;
    width: 15px;
    @include tablet-only {
      height: 30px;
      width: 30px;
    }
  }
}
