@import '../../utils/style/variable';

.Card {
  position: relative;
  width: 335px;
  height: 225px;
  border-radius: 10px;
  overflow: hidden;
  &_cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(65%);
  }
  &_title {
    position: absolute;
    bottom: 20px;
    color: $secondary-color;
    font-size: 18px;
    left: 20px;
    position: absolute;
    width: 90%;
  }
}
