@import '../../utils/style/mixin';
@import '../../utils/style/variable';

.carrousel {
  width: 335px;
  height: 255px;
  border-radius: 10px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  @include tablet-only {
    width: 100%;
    height: 415px;
    border-radius: 25px;
  }

  &_icon_before {
    position: absolute;
    z-index: 1;
    transform: rotate(-90deg);
    margin-left: 10px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
    i {
      color: white;
      background-color: transparent;
      font-size: 25px;
      @include tablet-only {
        font-size: 40px;
      }
    }
  }
  &_icon_next {
    position: absolute;
    z-index: 1;
    transform: rotate(90deg);
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    i {
      color: white;
      background-color: transparent;
      font-size: 25px;
      @include tablet-only {
        font-size: 40px;
      }
    }
  }
  &_img_index {
    z-index: 1;
    bottom: 6px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: transparent;
    position: absolute;
    @include tablet-only {
      margin: auto;
      color: white;
      height: 32.402400970458984px;
      width: 24px;
      left: 607px;
      top: 357.672607421875px;
      border-radius: nullpx;
    }
  }
}
