@import '../../utils/style/variable';
@import '../../utils/style/mixin';

header {
  width: 375px;
  height: 47px;
  margin: 20px auto 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet-only {
    width: 100%;
    margin: 40px auto 0;
  }
  .header_box {
    width: 335px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    @include tablet-only {
      width: 85%;
    }
  }
  img {
    height: 47px;
    width: 145px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin: auto;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 10px;
    @include tablet-only {
      gap: 57px;
    }
    a {
      font-size: 12px;
      font-weight: 500;
      text-decoration: none;
      @include tablet-only {
        font-size: 24px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
