@import './variable';

* {
  box-sizing: border-box;
  font-family: 'Montserra', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $primary-color;
}
a {
  text-decoration: none;
}
body {
  display: block;
}
