.footer {
  background-color: black;
  width: 375px;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding: 10px;

  &_logo {
    height: 40px;
    width: 122px;
    margin-bottom: 34px;
  }
  &_text {
    width: 100%;
  }
}
